<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="bg-gray-100 h-screen lg:px-[100px] sm:px-[0px] md:px-[2px]">
    <div class="flex items-center gap-5">
        <div><span class="text-6xl">Todo list</span></div>
        <div class="">
            <label for="my-modal-3" class="btn btn-outline">Create task</label>
            <input type="checkbox" id="my-modal-3" class="modal-toggle" />
            <div class="modal">
                <div class="modal-box relative">
                    <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                    <div class="form-control w-full max-w-lg">
                        <form method="post">
                            {% csrf_token %}
                            <label for="task_input" class="label">
                                <span class="label-text">Enter your new task</span>
                            </label>
                            <input type="text" id="task_input" name="title" required placeholder="Type here" class="input input-bordered w-full" />
                            <button class="mt-5 btn btn-outline btn-primary w-full" name="action" value="add_task" >Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <label for="my-modal-4" class="btn btn-outline">Help</label>
            <input type="checkbox" id="my-modal-4" class="modal-toggle" />
            <div class="modal">
                <div class="modal-box relative">
                    <label for="my-modal-4" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                    <div class="form-control w-full max-w-lg">
                        <span>The todo list is stored on the server but is accessed through a token stored in the browser to retrieve the data. The token will be deleted when the browser cache is cleared. Please save your data before clearing the cache.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if message %}
        <div class="alert my-3 alert-info shadow-lg">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <span>{{ message }}.</span>
            </div>
        </div>
    {% endif %}
    <div class="">
        {% block content %}

        {% endblock %}
    </div>
    <div>
</body>
</html>